<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
  <title>{% block title %}Home{% endblock %}</title>
</head>

<body>
  <div class="flex flex-col h-screen">
    <div class="flex bg-red-500 h-12 items-center">
      <div class="flex-1 ml-5">
        <a class="text-white mx-3 text-lg" href="/">Home</a>
      </div>
      <div class="flex mr-5">
        <a class="text-white mx-3 text-lg" href="/login">Login</a>
        <a class="text-white mx-3 text-lg" href="/signup">Sign Up</a>
      </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="flex bg-red-100 h-12 w-1/4 self-center rounded-md mt-5 justify-center items-center">
      <div class="text-red-700 font-semibold text-center">
        {{ message }}
      </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}    
    <div class="flex-1">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>

</html>